{% include header_idea.html %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <img src="/images/logo-small.jpg" class="img-responsive" />
    </div>
  </div>

   <div class="row">
    <div class="col-lg-4">
      <h3 class="section-heading">Who Are We?</h3>
      <p class="about-text">The Jamroom is a music and audio production house established by music composer-producer duo Nariman Khambata and Rahul Pais. We specialize in producing music for television commercials, radio spots, films, games, channel indents and albums over a wide array of genres with varied musical styles.</p>
    </div>
    {% for person in page.person-profiles %}
    <div class="col-lg-4 person-profile">
      <img class="img" src="/images/{{person.img-src}}" alt="Generic placeholder image" width="300" height="300">
      <h2>{{ person.name }}</h2>
      
    </div><!-- /.col-lg-6 -->
    {% endfor %}
  </div><!-- /.row -->
</div>




</div>

 <br /><hr /><br /><br />

 <h1 class="section-heading"> REEL </h1>
 <br />

<div class="container">
  <!-- START THE FEATURETTES -->
  <div class="row featurette">

    <div class="col-xs-12">
      <h3 class="section-heading">TV Commercials and Promos</h3>
      <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul class="yt-container">
            </ul>
        </div>

        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>
      </div>
  </div>

  <hr class="featurette-divider">

 <!--  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div> -->

 
  <!-- /END THE FEATURETTES -->
</div>

{% include footer.html %}
